/*notes: try and make smoother*/

body {
    background-color: black;
    margin: 0;
    height: 100vh; /* Ensure full viewport height. this will make it easier to position the inner divs rrelative to the body */
}

.box {
    height: 230px;
    width: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering Trick */
}

.sqr1, .sqr2, .sqr3, .sqr4{
    position: relative;
    height: 100px;/*5px+5px(border)*/
    width: 100px;
    border: 5px solid aqua;
    box-shadow: 0 0 10px aqua inset;
    position: absolute;

}
.sqr1{/*quadrant 1*/
    top: 0px;  /* Aligns to the top */
    right: 0px; /* Aligns to the right */
    animation: flip1 1.5s;
    transform-origin: left;
    animation-timing-function: linear; /*to make animation smoother, use linear. ease causes slow transitions*/
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}
.sqr2{/*quadrant 2*/
    top: 0px;
    left: 0px;
    animation: flip2 1.5s 0.5s;
    transform-origin: bottom;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.sqr3{/*quadrant 3*/
    bottom: 0px;
    left: 0px;
    animation: flip3 1.5s 0.5s;
    transform-origin: right;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.sqr4{/*quadrant 4*/
    bottom: 0px;
    right: 0px;
    animation: flip4 1.5s 0.5s;
    transform-origin: top;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes flip1 {
    0%{
        background-color: aqua;
    }
    33.33%{
        background-color: black;
        }
    66.66%{
        background-color: black;
    }
    100%{
        background-color: black;
    }
}
@keyframes flip2 {
    0%{
        background-color: black;
    }
    33.33%{
        background-color: aqua;
        }
    66.66%{
        background-color: black;
    }
    100%{
        background-color: black;
    }
}
@keyframes flip3 {
    0%{
        background-color: black;
    }
    33.33%{
        background-color: black;
        }
    66.66%{
        background-color: aqua;
    }
    100%{
        background-color: black;
    }
}
@keyframes flip4 {
    0%{
        background-color: black;
    }
    33.33%{
        background-color: black;
        }
    66.66%{
        background-color: black;
    }
    100%{
        background-color: aqua;
    }
}