body{
    font-family: roboto, arial;
}
.title{
    height: 200px;
    width: 700px;
    background-color: rgb(178, 23, 178);
    text-align: center;
}
.question{
    height: 100px;
    width: 500px;
    text-align: center;
    padding: 50px 50px 50px 50px;
    margin: 0px 50px 0px 50px;
    background-color: aqua;
}
.option{
    height: 50px;
    width: 160px;
    margin: 10px 40px 100px 40px;
}
.options{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: blueviolet;
    
}
.quiz{
    background-color: blue;
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
}